<h1>Welcome GroupGames</h1>
<h3>This is my Ruby on Rails project</h3>
<p>With GroupGames, you can sign up and be able to leave a review to the awesome game that you play so other user can get an idea of games to play</p>