<h1>Game review index</h1>

<div>
  <ul>
    <% @game_reviews.each do |reviews| %>
      <li>Review by: <%= reviews.user.username%></li>
      <li>Game: <%= reviews.game.title %></li>
      <li>Content: <%= reviews.content %></li>
      <li>Rating: <%= reviews.rating %>/5</li>
      <br>
      <br>
    <% end %>
  </ul>
</div>